.fondo {
    color: white;
    background-color: rgb(104, 105, 107);
    background-image: url("/1ra_entrega/media/ba1.jpg");
    background-repeat: no-repeat;
    background-size:auto; 
    background-position:center;
    background-blend-mode: multiply;
    overflow: hidden;
    height: 20vh;

    padding-top: 500px;
    padding-bottom: 500px;
    padding-right: 100px;
    padding-left: 1200px; 

}

.btn-g {
    color: white;
    display: inline-block;
    background-color: green;
    border: 1px;
    
    margin: 0px 1px;
    text-decoration: none;
    padding: 10px; 
    cursor: pointer;
}
 .btn-g:hover{
    background-color: rgb(46, 186, 46);
 }
  

.bordes {
    
    margin-right: 200px;
    margin-left: 200px; 
}
  
.btn-b {
    color: white;
    display: inline-block;
    background-color: rgb(54, 190, 228);
    margin: 3px 5px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    
}

  
.container_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
}

.left{background: url(media/honolulu.jpg)center;
    background-size: cover;
}

.right {background-color: rgb(65, 65, 70);

}


footer{margin-top: 50px;
padding-bottom: 20px;
padding-top: 20px;}
